{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{#tag}}
        <section class="post-card post-card-large post-card-content-tag-header">

            {{#if feature_image}}
            <style>
                .post-card-content-header {
                    background-image: url('{{img_url feature_image size="xl"}}');
                    background-size: cover;
                }
            </style>
            {{/if}}
            <div class="post-card-content post-card-content-header">
                <div class="post-card-content-header-backdrop">
                    <div class="post-card-content-link">
                        <header class="post-card-header">
                            <h2 class="post-card-title">{{name}}</h2>
                        </header>
                        <div class="post-card-excerpt">
                            {{#if description}}
                                {{description}}
                            {{else}}
                                A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/tag}}
<main id="site-main" class="site-main outer">
<div class="inner posts">
    <div class="post-feed">

        

        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}

    </div>

    {{pagination}}
    
</div>
</main>
